<%= render "shared/nav" %>
<div class="container">

 <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary'%>



<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

 <div id="recipes">
  <% @recipes.each do |recipe| %>


   <div class="cardss d-grid w-100">
    <div class="card float-left w-40" id="recip-card-left">
      <h3><%= recipe.name %></h3>
    <span class="border-less"><%= button_to "Remove", recipe, method: :delete %></span><br>
      <%= link_to "Show this recipe", recipe %><br>
      <%= link_to "new recipe", new_recipe_path %>
    </div>
      <div class="card float-right w-60" id="recip-card-right"> cooking process: <%= recipe.description %></div>
</div>
  <% end %>
 </div>
</div>
</div>
<%# <%= link_to "New recipe", new_recipe_path(@recipes) %>
