<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<div id="foods">
  <% @foods.each do |food| %>

  <h1> <%= food.name %> </h1>
    <p> 
      <%= link_to "Show this food", food %>
    </p>

    <span> <%= link_to "New Food", new_food_path %> </span>
  <% end %>
</div>

<%# <%= link_to "New food", new_food_path %>